.info-grid {
  --label-bg: #e4e4e4;
  font-size: 14px;
  display: grid;
  grid-template-columns: auto 1fr;
  > * {
    padding: 3px 6px;
    // border-bottom: 1px solid var(--border-color);
    border-bottom: 1px solid #f3f3f3;
    border-bottom: 1px solid #e7e7e7;
  }
  .label {
    font-weight: 500;
    text-align: right;
    // background-color: #e4e4e4;
    border-color: #f4f4f4;
    background-color: var(--label-bg);

    &::after {
      content: ":";
    }
  }
  > :not(.label):not(.separator):not(.error) {
    opacity: 0.9;
  }
  .separator {
    text-align: right;
    &.text {
      font-size: 11.5px;
      text-transform: uppercase;
      font-weight: 500;
      padding: 0px 6px;
      color: #fff;
      background-color: #575143;
      // background-color: var(--label-bg);
    }
    &.line {
      position: relative;
      display: flex;
      align-items: center;
      background-color: #575143;
      // background-color: var(--label-bg);
      opacity: 0.15;
    }
  }
}
